body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f023;
  }
  
  .login-container {
    background: rgba(255, 255, 255, 0.34);
    backdrop-filter: blur(30px);
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: red;
    margin-top: 10px;
  }
  .window-close {
    position: absolute;
    width: 30px;
    top: 10px;
    right: 10px;
    background: rgb(87, 22, 228);
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  .window-close:hover {
    color: red;
  }